@import "tailwindcss";

/* CSS variables, available globally */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Tailwind Theme Configuration, maps CSS variables to Tailwind tokens  */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Dark Mode Support
Media query for system dark mode preference */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Sets Geist Sans as the default font
  Falls back to sans-serif if the variable isn't available */
  font-family: var(--font-geist-sans), sans-serif;
}

code,
pre,
kbd,
samp {
  font-family: var(--font-geist-mono), monospace;
}
